<div class="col-md-4">
  <label for="nome" class="form-label">Nome</label>
  <input
    type="text"
    class="form-control"
    id="nome"
    name="nome"
    maxlength="256"
    [(ngModel)]="jsonIn.nome"
    required
  />
  <!-- <div class="valid-feedback">
      Looks good!
  </div> -->
</div>
<div class="col-md-4">
  <label for="cognome" class="form-label">Cognome</label>
  <input
    type="text"
    class="form-control"
    id="cognome"
    name="cognome"
    maxlength="256"
    [(ngModel)]="jsonIn.surname"
    required
  />
  <!-- <div class="valid-feedback">
      Looks good!
  </div> -->
</div>
<div class="col-md-4">
  <label for="altezza" class="form-label">Altezza in cm</label>
  <input
    type="number"
    class="form-control"
    id="altezza"
    name="altezza"
    min="1"
    max="250"
    step="1"
  />
  <!-- <div class="valid-feedback">
      Looks good!
  </div> -->
</div>
<div class="col-md-4">
  <label for="email" class="form-label">Email</label>
  <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    [(ngModel)]="jsonIn.email"
    required
    email
  />
  <!-- <div class="valid-feedback">
      Looks good!
  </div> -->
</div>
<div class="col-12">
  <button class="btn btn-primary" type="submit">Submit form</button>
</div>
<pre
  >{{ jsonIn | json }}
</pre>
