<h1>Neagu Robert Alexandru</h1>
<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" (click)="toggleSezione('datiAnagrafici')"
        [class.collapsed]="datiAnagrafici">
        Dati anagrafici
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" [class.show]="datiAnagrafici">
      <div class="accordion-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="exampleInputSurname" class="form-label">Surname</label>
                <input type="text" class="form-control" id="exampleInputSurname">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputAdress" class="form-label">Adress</label>
            <input type="text" class="form-control" id="exampleInputAdress">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" (click)="toggleSezione('infoStudi')"
        [class.collapsed]="infoStudi">
        Info studi
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" [class.show]="infoStudi">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" (click)="toggleSezione('infoLavori')"
        [class.collapsed]="infoLavori">
        Info lavori
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" [class.show]="infoLavori">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->